<script context="module">
	import * as api from '../../utils/api.js';
	export async function preload({ params }) {
		const { slug } = params;
		let article = await api.get(`articles/` + slug, null);
		if (article.message && article.message.length > 0) {
			article = {
				article: {
					title: 'Страница не найдена',
					html: '<p>Информация по адресу ' + "/blog/" + slug + " не найдена.</p>"
				}
			}
		}
		return article
	}
</script>

<script>
	import FromPracticeColumn from '../../components/FromPracticeColumn.svelte'
	export let post;
	export let article;
	export let slug;
</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}

	.content :global(pre) {
		background-color: #f9f9f9;
		box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
		padding: 0.5em;
		border-radius: 2px;
		overflow-x: auto;
	}

	.content :global(pre) :global(code) {
		background-color: transparent;
		padding: 0;
	}

	.content :global(ul) {
		line-height: 1.5;
	}

	.content :global(li) {
		margin: 0 0 0.5em 0;
	}
</style>

<svelte:head>
	<title>{article.title}</title>
</svelte:head>
<div class="container sm_menu:mt-8 max520:mt-0">
	<div class="main">
		<h1 class="sm:m-0 sm:mb-5 sm:pr-2 sm:float-none">
			<p>{article.title}</p>
		</h1>
		<div class="mt-8">
			{@html article.html}
		</div>
		
	</div>

	<FromPracticeColumn />
</div>
