<script context="module">
	import * as api from '../../utils/api.js';
	export async function preload({ params }) {
		const { slug } = params;
		const posts = await api.get(`articles?tags=blog`, null);
		return { posts };
	}
</script>


<script>
	import { editMode } from '../../store.js';
	import AdminModal from '../../components/AdminModal.svelte';

	import Slide from '../../components/Slide.svelte';
	import { stores } from '@sapper/app';
    const { preloading, page, session } = stores();

	export let posts;
	export const contents = posts['articles'].map(post => {
		return {
			title: post.title,
			slug: post.slug,
			id: post.id,
			html_short: post.html.substr(0, 50),
			content_short: post.annotation,
			pic: post.picture
		};
	});
</script>

<style>

</style>

<svelte:head>
	<title>Блог адвоката Смирновой Е.В.</title>
	{#if $editMode }
		<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css">
		<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
		<script src="http://localhost:3000/js/tui-editor-Editor-full.min.js"></script>
	{/if}
</svelte:head>
		{#if $editMode }
			<AdminModal />
		{/if}

<Slide path={$page.path} />

<div class="container">
	<div class="main w-full lg:pr-24">
		<h1 class="mb-8">
			<p>Блог адвоката</p>
			<p>Смирновой Евгении Васильевны</p>
		</h1>
		<div class="flex flex-wrap justify-between">
			{#each contents as post}
				<div class="mx-auto flex flex-wrap mb-8">
					<div class="w-full md:w-1/3 md:pr-4 flex flex-wrap mb-4 md:mb-0">
						<div class="w-full">
							<a rel='prefetch' href='blog/{post.slug}'>
								<img src="{post.pic}" class="w-full h-40 object-cover">
							</a>
						</div>
					</div>
					<div class="w-full md:w-2/3 md:pl-4">
						<h2 class="text-4xl mb-10"><a rel='prefetch' href='blog/{post.slug}' class="hover:underline">{post.title}</a></h2>
						<div class="max-w-lg">
							<p class="mb-6 text-gray-700">{post.content_short}</p>
							<a rel='prefetch' href='blog/{post.slug}' class="inline-block bg-black text-white px-4 py-1 text-sm hover:bg-gray-800">Подробно</a>
						</div>
					</div>
				</div>
			{/each}
		</div>
	</div>
</div>