<script>
	// import SlideShar from '../components/SlideShar.svelte';

	import Slide from '../components/Slide.svelte';
	import FromPracticeColumn from '../components/FromPracticeColumn.svelte'
    import { stores } from '@sapper/app';
    const { preloading, page, session } = stores();
</script>

<style>

* {
	box-sizing: border-box;
}



</style>

<svelte:head>
	<title>Об адвокате Смирновой Е.В.</title>
</svelte:head>


<Slide path={$page.path} />

<div class="container">
	<div class="main">
		<h1 class="mb-5">
			<p>Об адвокате</p>
			<p>Смирновой Евгении Васильевне</p>
		</h1>
		<img src="img/about_face.jpg" alt="Адвокат Смирнова Е.В., фото" class="float-right ml-5 mb-2" />
		<p class="font-body text-base leading-snug text-justify;">
			Адвокат Московской городской коллегии адвокатов «Московский адвокат». Член Международного союза (содружества) адвокатов.
		</p>
		<p class="font-body text-base leading-snug text-justify;">
			Родилась в г. Йошкар-Оле Республики Марий Эл. В 1994 году закончила с отличием Йошкар-Олинский строительный техникум (отделение правоведение) и поступила на заочное отделение юридического факультета Марийского Государственного Университета.
			</p>
		<p class="font-body text-base leading-snug text-justify;">
			Общий юридический стаж составляет 19 лет, из них в области адвокатуры — 13 лет. Имеет разностороннюю адвокатскую практику. Специализируется на сложных уголовных и гражданских делах, арбитраже.
			</p>
		<p class="font-body text-base leading-snug text-justify;">
			За многолетнюю работу в статусе адвоката имеет значительный опыт по оказанию правовой помощи юридическим лицам по вопросам оспаривания привлечения их к административной ответственности, о переводе прав и обязанностей покупателя по договорам купли-продажи акций, налоговым спорам.
		</p>
		<img src="img/credo.png" alt="Кредо адвоката" />
		<!--
		<h2 class="">
			<p class="font-title font-normal text-2xl mt-10 leading-none">Лицензии и разрешительные документы</p>
			<p class="font-title font-bold text-sm text-gray-600">адвоката Смирновой Евгении Васильевны</p>
			<ul class="mt-8 list-disc ml-10 mb-10">
				<li>
					<a class="text-blue-800 underline" href="javascript;">
						Лицензия на осуществление адвокатской деятельности
					</a>
				</li>
				<li>
					<a class="text-blue-800 underline" href="javascript;">
						Удостоверение адвоката
					</a>
				</li>
			</ul>
		</h2>
	-->
	</div>

	<FromPracticeColumn />
</div>