<script context="module">
	import { addListener, removeListener } from 'resize-detector'
	import * as api from '../utils/api.js';
	export async function preload({ params }) {
		const { slug } = params;
		let article = await api.get(`articles/prais-list`, null);
		if (article.message && article.message.length > 0) {
			article = {
				article: {
					title: 'Страница не найдена',
					html: '<p>Информация по адресу articles/kontakty-advokata-smirnovoy-evgenii-vasilevny не найдена.</p>'
				}
			}
		}
		// If title like this "Контакты || адвоката Смирновой Евгении Васильевны"
		// Then make it as <p>Контакты</p<p>адвоката Смирновой Евгении Васильевны</p
		if(article.article.title && article.article.title.indexOf(" || ") > 0)	{
			let p = article.article.title.replace("||", "</p><p>")
			article.article["html_title"] = "<p>" + p + "</p>"
		}

		// make anchor links like this <a href="prais-list#id1"> instead of <a href="#id1">
		// It's for IE compability
		let find_str = ' href="#';
		let re = new RegExp(find_str, 'g');
		let replace_str = ' href="prais-list#' // as result e.g.: ' href="prais-list#'
		article.article.html = article.article.html.replace(re, replace_str);

		// TODO
		// use slug to replace /prais-list in code

		return article
	}
</script>

<script>
	import { stores } from '@sapper/app';
	import { onMount } from 'svelte'
	import Slide from '../components/Slide.svelte';

	// import { scrollto } from "svelte-scrollto";
	import * as animateScroll from "svelte-scrollto";

	export let article;
	export let slug;

	const { preloading, page, session } = stores();


	onMount(()=>{

		// { Make pinned navigation and scrollspy
			if(window.innerWidth >= 1195)	{
				// init controller
				var controller = new ScrollMagic.Controller();

				function getHeight(selector) {
					let node = document.querySelector(selector);
					if(!node) return 0;
					return node.getBoundingClientRect().height;
				}
				
				var sceneBody = new ScrollMagic.Scene({
					triggerElement: ".page-body",
				    duration: getHeight(".page-body"), 
				    offset: window.innerHeight / 2 - 20
				})
			    .setPin('.contents.topic')
			    .addTo(controller)

			    var onMyEnter = function(node) {
					return function(e) {
						node.style.backgroundColor = (e.type == "enter") ? "#eee" : ""
					}
				}
				
				// toggle css class on TOC links while scrolling (scrolspy)
				var sections = document.querySelectorAll("div.page-body > div.section")
				for (let sec of sections) {
					let id = sec.id
					let href = location.pathname.substring(1) + "#" + id
					let link = document.querySelector('a[href="'+href+'"]')
					new ScrollMagic.Scene({
						triggerElement: '#' + id,
					    duration: getHeight('#' + id), // the scene should last for a scroll distance of 100px
					    offset: window.innerHeight / 2 - window.innerHeight / 4 // start this scene after scrolling for 200px
					})
					.setClassToggle("#"+link.id, "active")
				    .addTo(controller)// assign the scene to the controller	
				    // .on("enter leave", onMyEnter(link))
				}
			}
		// }

		// { Make scrollto
			// make URL hash changing after scroll to an anchor
			let top_offset = (window.innerWidth > 767) ? -40 : -80; // -80 - for mobile devices as top menu overflow h2 headers
			animateScroll.setGlobalOptions({
			    offset: top_offset,
			    onDone: (element, offset) => {
			        if(element) {
				        if(window.history.pushState) {
				        	window.history.pushState('prais-list', 'Прайс-лист адвоката Смирновой Е.В.', location.pathname + '#' + element.id);	
				        }
			        }
			    }
			})

			// add onclick eventListener to all links from Table of Content
			const toc_links = document.querySelectorAll("div.page-toc a.reference.internal")
			let tocClickHandler = function(link)	{
				return function(e)	{
					e.preventDefault();

					let newPathname = link.getAttribute("href")
					let id = newPathname.split("#")[1]
					if (!id) return;

					animateScroll.scrollTo({element: "#"+id}) 
				}
			}
			for (let link of toc_links)	{
				link.addEventListener("click", tocClickHandler(link), false);
			}
		// }
		
		
		// on window resize
		// It's required to use something like this:
		// https://github.com/julienetie/resizilla
		// because using onresize native event handler brings some troubles, e.g.:
		// https://stackoverflow.com/questions/40437015/window-resize-executes-when-scrolling-on-mobile-devices

		// Here we use https://github.com/Justineo/resize-detector
		// to reduce padding-bottom of Table of Content div
		// when adapting for mobile devices (when div.document is resized)
		let oldWidth = window.innerWidth;
		let watchForResizedElement = document.querySelector(".document");
		let pageToc = document.querySelector("div[data-scrollmagic-pin-spacer]");
		if(watchForResizedElement && pageToc)	{
			addListener(watchForResizedElement, function() {
				let newWidth = window.innerWidth;
				if(newWidth != oldWidth) {
					pageToc.style.paddingBottom = "2em";
				}
			})	
		}
	})


</script>

<style>



@screen sm_menu {
    td:nth-child(1), th:nth-child(1), 
    td:nth-child(2), th:nth-child(2), 
    td:nth-child(4), th:nth-child(4) {
        @apply hidden;
    }
}

@screen lg-max {
    td:nth-child(1), th:nth-child(1), 
    td:nth-child(2), th:nth-child(2) {
        @apply hidden;
    }
}

	td+td {
	  text-align: right;
	  white-space: nowrap;
	}

	td:first-child {
	  width: 100%;
	}

	td[colspan="2"] strong  {
	  background-color: #eea99f;
	  padding: 2px 20px 2px 20px;
	}




</style>

<svelte:head>
	<title>Прайс-лист адвоката Смирновой Е.В.</title>
</svelte:head>

<Slide path={$page.path} />

<div class="container price-page">
	<div class="main">
		<h1 class="mb-5">
			<p>Прайс-лист адвоката</p>
			<p>Смирновой Евгении Васильевны</p>
		</h1>
	</div>
	<!--
	<div class="table-of-contents">
		<div class="column_head" id="toc">
			<h2 class="font-title text-2xl text-gray-600 font-normal pt-1 lg:mt-16 mb-3">Виды услуг</h2>
			<ul class="toc">
	            <li id="jure-lic" bind:this="{toc['jure-lic']}">
	        		<a href="prais-list#jure-lic-sec" 
	        			on:click={() => animateScroll.scrollTo({element: '#jure-lic-sec', offset: -40})}
	        			title="">Ведение судебного дела для Юридических лиц
	        		</a>	
	            </li>
	            <li id="corp-spor" bind:this="{toc['corp-spor']}">
	            	<a href="prais-list#corp-spor-sec" 
	            	on:click={() => animateScroll.scrollTo({element: '#corp-spor-sec', offset: -40})}
	            	title="">Корпоративные дела/споры</a>
	            </li>
	            <li id="fiz-lic" bind:this="{toc['fiz-lic']}">
	            	<a href="prais-list#fiz-lic-sec" 
	            	on:click={() => animateScroll.scrollTo({element: '#fiz-lic-sec', offset: -40})}
	            	title="">Ведение судебного дела для Физических лиц</a>
	            </li>
	        </ul>
	    </div>
	</div>
-->
	<div class="main w-full lg:pr-24">
		

		{@html article.html}

	</div>
</div>