<script>
	import { stores } from '@sapper/app';
	import { onMount } from 'svelte'
	import Slide from '../components/Slide.svelte';

	// import { scrollto } from "svelte-scrollto";
	import * as animateScroll from "svelte-scrollto";
	

	export let uri=''
	let price;
	let toc = []
	let section = [];

	const { preloading, page, session } = stores();


	onMount(()=>{
		// init controller
		var controller = new ScrollMagic.Controller();

		function getHeight(node) {
			return node.getBoundingClientRect().height;
		}

		// var sec = querySelector("#section1");
		
		new ScrollMagic.Scene({
			triggerElement: "#price",
		    duration: getHeight(price), // the scene should last for a scroll distance of 100px
		    offset: 310 // start this scene after scrolling for 200px
		})
	    .setPin('#toc') // pins the element for the the scene's duration
	    .addTo(controller)// assign the scene to the controller	

	    var onMyEnter = function(sec) {
			return function(e) {
				toc[sec].style.backgroundColor = (e.type == "enter") ? "red" : ""
			}
		}

		for (let sec in section) {
			new ScrollMagic.Scene({
				triggerElement: '#' + sec + '-sec',
			    duration: getHeight(section[sec]), // the scene should last for a scroll distance of 100px
			    offset: 200 // start this scene after scrolling for 200px
			})
		    .addTo(controller)// assign the scene to the controller	
		    .on("enter leave", onMyEnter(sec))
		}
	})


</script>

<style>

td, th {
    @apply px-4 py-2;
}

th {
    background-color: #e7e7e7;
    border-top: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    color: #666;

    @apply font-bold text-sm font-title pt-8;
}

table {
	@apply mb-12;
}
table tbody tr:hover {
    background-color: #dff5f5;
    @apply cursor-pointer;
}

table tbody tr {
    border-bottom: 1px solid #e1e1e1;
    @apply font-title font-bold leading-none;
}

table tbody tr td a {
    text-decoration: underline;
}


tr.even {
    background-color: #f6f6f6;
}

tr.odd {
    background-color: #fff;
}

td.circum {
    color: #b2b2b2;
}

td.circum.black p.base {
    color: #000;
}

td.circum.black p.note {
    color: #808080;
}


td {
    @apply align-top;
}



td p.base {
    @apply mb-0;
    font-size: 20px;
}


td p.extra  {
    @apply mb-0;
    font-size: 16px;
}


td p.note {
    font-size: 14px;
    color: #b2b2b2;
    margin-top: 4px;
}

@screen sm_menu {
    td:nth-child(1), th:nth-child(1), 
    td:nth-child(2), th:nth-child(2), 
    td:nth-child(4), th:nth-child(4) {
        @apply hidden;
    }
}

@screen lg-max {
    td:nth-child(1), th:nth-child(1), 
    td:nth-child(2), th:nth-child(2) {
        @apply hidden;
    }
}

.toc-active {
	border: 5px solid blue;
	display: block;
}



</style>

<svelte:head>
	<title>Sapper Template</title>
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>

</svelte:head>

<Slide path={$page.path} />



<div class="container">
	<div class="main">
		<h1 class="mb-5">
			<p>Прайс-лист адвоката</p>
			<p>Смирновой Евгении Васильевны</p>
		</h1>
		<p>
			Предлагаем ознакомиться с нашими тарифами и ценами на юридические услуги. На этой странице вы можете узнать, сколько стоит консультация юриста, сколько стоит составить жалобу или исковое заявление и пр.
		</p>
		<div id="price" bind:this={price}>
			<div id="jure-lic-sec" bind:this="{section['jure-lic']}">
				<h2>Ведение судебного дела для Юридических лиц</h2>
				<table class="w-full">
		            <thead>
		                <tr class="border-b-2 border-t-2 border-gray-700">
		                    <th class="w-2"></th>
		                    <th class="w-auto whitespace-no-wrap text-left">Наименование услуги</th>
		                    <th class="w-1/6 text-right">Цена, руб.</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		            </tbody>
		        </table>
			</div>
		    
		    <div id="corp-spor-sec" bind:this="{section['corp-spor']}">
	        	<h2>Корпоративные дела/споры</h2>
				<table class="w-full">
		            <thead>
		                <tr class="border-b-2 border-t-2 border-gray-700">
		                    <th class="w-2"></th>
		                    <th class="w-auto whitespace-no-wrap text-left">Наименование услуги</th>
		                    <th class="w-1/6 text-right">Цена, руб.</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
		    
		    <div id="fiz-lic-sec" bind:this="{section['fiz-lic']}">
				<h2>Ведение судебного дела для Физических лиц</h2>
				<table class="w-full">
		            <thead>
		                <tr class="border-b-2 border-t-2 border-gray-700">
		                    <th class="w-2"></th>
		                    <th class="w-auto whitespace-no-wrap text-left">Наименование услуги</th>
		                    <th class="w-1/6 text-right">Цена, руб.</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
						<tr class="odd" on:click="{()=>{sapper.goto(uri);}}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		                <tr class="even" on:click="{() => { alert(1) }}">
		                    <td class="">1</td>
		                    <td class="text-left whitespace-no-wrap text-left">
		                        <p class="base">1-382/2012</p>
		                    </td>
		                    <td class="text-right">от 1000</td>
		                </tr>
		            </tbody>
		        </table>
			</div>
		</div>
	    <p>* Все цены являются ориентировочными и могут меняться от обстоятельств конкретного дела. Окончательная цена согласовывается при заключении договора.</p>
	</div>

	<div class="right">
		<div class="column_head" id="toc">
			<h2 class="font-title text-2xl text-gray-600 font-normal pt-1 lg:mt-16 mb-3">Виды услуг</h2>
			<ul class="toc">
	            <li id="jure-lic" bind:this="{toc['jure-lic']}">
	        		<a href="prais-list#jure-lic-sec" 
	        			on:click={() => animateScroll.scrollTo({element: '#jure-lic-sec', offset: -40})}
	        			title="">Ведение судебного дела для Юридических лиц
	        		</a>	
	            </li>
	            <li id="corp-spor" bind:this="{toc['corp-spor']}">
	            	<a href="prais-list#corp-spor-sec" 
	            	on:click={() => animateScroll.scrollTo({element: '#corp-spor-sec', offset: -40})}
	            	title="">Корпоративные дела/споры</a>
	            </li>
	            <li id="fiz-lic" bind:this="{toc['fiz-lic']}">
	            	<a href="prais-list#fiz-lic-sec" 
	            	on:click={() => animateScroll.scrollTo({element: '#fiz-lic-sec', offset: -40})}
	            	title="">Ведение судебного дела для Физических лиц</a>
	            </li>
	        </ul>
	    </div>
	</div>


</div>