<script>
import { onMount } from 'svelte';
import * as api from '../utils/api.js';

export let content_id = undefined;

onMount(() => {
    var editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: 'auto'
    });

    async function getData(content_id) {
        let query = 'articles/' + content_id;
        return await api.get(query, "$session.user && $session.user.token");
    }
    
    async function saveData(content_id, data) {
        let query = 'articles/' + content_id;
        return await api.put(query, data, "$session.user && $session.user.token");
	}

    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
        openmodal[i].addEventListener('click', function(event){
            // getData(event.target.dataset['contentid']);
            content_id = event.target.dataset['contentid'];
            let query = 'articles/' + content_id;
            let response = getData(content_id);
            response.then(story => {
                editor.setValue(story['article'].content);


                event.preventDefault()
                toggleModal()
            });
        })
    }
  
  const overlay = document.querySelector('.modal-overlay');
  overlay.addEventListener('click', toggleModal)
  
  var closemodal = document.querySelectorAll('.modal-close')
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener('click', toggleModal)
  }
  
  document.onkeydown = function(evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
  	isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
  	isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
  	toggleModal()
    }
  };
  
  
  function toggleModal () {
    const body = document.querySelector('body')
    const modal = document.querySelector('.modal')
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }

    // ==== SAVE ARTICLE ==== //
    var modal_save = document.querySelectorAll('.modal-save')
        for (var i = 0; i < modal_save.length; i++) {
            modal_save[i].addEventListener('click', function(event){
                let content_id = event.target.dataset['contentid'];
                let query = 'articles/' + content_id;

                let data = { 
                    article: {
                        content: editor.getMarkdown(),
                        html: editor.getHtml()
                    }
                }


                let response = saveData(content_id, data);
                response.then(status => {
                    event.preventDefault()
                    toggleModal()
                });
            })
        }


    })

</script>

<!--
<button data-contentid="5" class="self-center sm:w-1/3 md:w-1/5 lg:w-1/12 modal-open bg-transparent border border-gray-500 hover:border-indigo-500 text-gray-500 hover:text-indigo-500 font-bold py-2 px-4 rounded-full">Edit</button>
//-->

<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-white opacity-95"></div>

  <div class="modal-container fixed w-full h-full z-50 overflow-y-auto ">
    
	<div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-black text-sm z-50">
      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
      (Esc)
    </div>

    <!-- Add margin if you want to see grey behind the modal-->
    <div class="modal-content container mx-auto h-auto text-left p-4">
     
	  <!--Title-->
      <div class="flex justify-between items-center pb-2">
        <p class="text-2xl font-bold">Страница администратора</p>
      </div>

      <!--Body-->
      <div id="editSection" class="border border-red-300"></div>
      
      
      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button data-contentid="{content_id}" class="modal-save px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Action</button>
        <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
      </div>

    </div>
  </div>
</div>

<style>
	.modal {
    	transition: opacity 0.25s ease;
    }
    body.modal-active {
		overflow-x: hidden;
		overflow-y: visible !important;
    }
    .opacity-95 {opacity: .95;}
</style>