<div class="column_head">
		<h2 class="font-title text-2xl text-gray-600 font-normal pt-1 lg:mt-16 mb-3">Из практики адвоката</h2>
	</div>

	<div class="left">
		<a href="/practice/decision.000005" rel='prefetch' class="hover:underline">
			<h3 class="flex flex-col text-lg text-gray-900 font-bold leading-tight"><p>Начать неофициально работать, попасть в ДТП...</p><p class="self-end text-sm text-teal-700 leading-tight mb-2 mt-2 text-right">...потребовать официальное трудоустройство<br />и компенсацию на лечение</p></h3>
		</a>
		<p class="font-title text-sm text-justify">
			Фрилансер, попав в ДТП, утверждал, что выполнял поручение работодателя, поэтому потребовал у предпринимателя компенсацию вреда здоровью, а также официальное трудоустройство. Адвокату Смирновой Евгении Васильевне довелось выступать в защиту интересов работодателя.
		</p>
		<div class="mt-2 flex flex-row">
			<div class="flex flex-col">
				<span class="flex self-stretch
							p-1
							font-title
							bg-gray-500
							rounded
							text-white
							justify-center
							font-bold
							text-xs">Решение суда:</span>
				<span class="font-title
							justify-center
							pl-1 pr-1 mt-1
							font-bold
							text-red-900
							text-sm"><sup>Дело 2-2419/2018</sup></span>
			</div>
			<div class="text-red-900 ml-2 font-title font-bold text-xs flex-1">
				в удовлетворении требований фрилансера отказать в полном объёме.
			</div>
		</div>
		<div class="flex justify-center mt-4 mb-6">
			<svg stroke-width="0.501" stroke-linejoin="bevel" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" overflow="visible" width="36.819pt" height="8.978pt" viewBox="0 0 36.819 8.978">
				<path d="M 4.677,0.706 L 0.844,4.539 L 4.677,8.372 L 7.76,5.289 L 15.273,5.289 L 18.356,8.372 L 21.439,5.289 L 28.951,5.289 L 32.034,8.372 L 35.867,4.539 L 32.034,0.706 L 28.951,3.789 L 21.439,3.789 L 18.356,0.706 L 15.273,3.789 L 7.76,3.789 L 4.677,0.706 Z" stroke-width="0.5" stroke="none" fill="#7f0000" fill-rule="evenodd" marker-start="none" marker-end="none" stroke-miterlimit="79.8403193612775"/>
			</svg>
		</div>
	</div>
	<div class="right">
		<a href="/practice/decision.000003" rel='prefetch' class="hover:underline">
			<h3 class="flex flex-col text-lg text-gray-900 font-bold leading-tight"><p>Евро-ремонт закончился "евро"-ответственностью...</p><p class="self-end text-sm text-teal-700 leading-tight mb-2 mt-2 text-right">...как правильное заключение договора "отсеивает" некомпетентных исполнителей</p></h3>
		</a>
		<p class="font-title text-sm text-justify">
			Фирма-подрядчик выполнила ремонт в квартире заказчика, но через месяц полы "пожелтели" в связи с некачественными материалами и нарушением технологии ремонта. В результате вся ответственность легла на фирму-подрядчика.
		</p>
		<div class="mt-2 flex flex-row">
			<div class="flex flex-col">
				<span class="flex self-stretch
							p-1
							font-title
							bg-gray-500
							rounded
							text-white
							justify-center
							font-bold
							text-xs">Решение суда:</span>
				<span class="font-title
							justify-center
							pl-1 pr-1 mt-1
							font-bold
							text-red-900
							text-sm"><sup>Дело 2-145/2018</sup></span>
			</div>
			<div class="text-red-900 ml-2 font-title font-bold text-xs flex-1">
				взыскать с подрядчика 197 тыс.руб. + 100 тыс. руб. штраф + компенсацию морального вреда
			</div>
		</div>
		<div class="flex justify-center mt-4 mb-6">
			<svg stroke-width="0.501" stroke-linejoin="bevel" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" overflow="visible" width="36.819pt" height="8.978pt" viewBox="0 0 36.819 8.978">
				<path d="M 4.677,0.706 L 0.844,4.539 L 4.677,8.372 L 7.76,5.289 L 15.273,5.289 L 18.356,8.372 L 21.439,5.289 L 28.951,5.289 L 32.034,8.372 L 35.867,4.539 L 32.034,0.706 L 28.951,3.789 L 21.439,3.789 L 18.356,0.706 L 15.273,3.789 L 7.76,3.789 L 4.677,0.706 Z" stroke-width="0.5" stroke="none" fill="#7f0000" fill-rule="evenodd" marker-start="none" marker-end="none" stroke-miterlimit="79.8403193612775"/>
			</svg>
		</div>
	</div>