<ul>
    <li>
    <a href="javascript:;"
        on:click="{() => $sidebar.visible = !$sidebar.visible}">
        <i class="fa fa-bars"></i>
    </a>
    </li>
</ul>


<style>
    a {
        @apply text-white p-2 pt-1 pb-1 rounded border-2 text-lg;
    }
</style>

<script type="text/javascript">
    import { sidebar } from '../store.js'
</script>