<div id="my_dataviz" class="slide">
    
</div>

<style>
    button {
        color: #31666b;
        border-color: #31666b;
        @apply bg-transparent border-2 border-transparent rounded font-semibold py-1 px-2;
    }

    #pie text {
        @apply font-solid font-bold;
    }

    button:hover {
        color: #21555a;
        border-color: #21555a;
    }

    .slide { 
        width: 100%; 
        background-image: url('../img/slides/practice_slide.jpg');
        background-repeat: no-repeat;
        height: 471px;
    }

    progress {
        display: block;
        height: 5px;
	}


    .border{
        fill:none;
        stroke:green;
        stroke-width:1;
    }
    .sector{
        fill:none;
        stroke:green;
        stroke-width:50;
    }


</style>
<script>
    import { sidebar } from '../store.js';
    import { onMount } from 'svelte';
    // import { stores } from '@sapper/app';
    // const { preloading, page, session } = stores();

    import { tweened } from 'svelte/motion';
	import { cubicOut } from 'svelte/easing';

    const progress = tweened(0, {
            duration: 3000,
            easing: cubicOut
        });

    const pie_angle = tweened(0, {
            duration: 3000,
            easing: cubicOut
        });

    function set_progress(value=0) {
        progress.set(value);

        var cx = 294, cy = 104
        var vis = d3.select("#pie_arr")
        var pi = Math.PI;
        
        var minAngle = -135;
        var maxAngle = -225;
        
        let actualAngle = maxAngle;

        if (value >= 0.5)    {
            actualAngle = maxAngle;
        }
        else {
            actualAngle = minAngle;
        }
        

        // let actualAngle = minAngle + (maxAngle - minAngle) * value;

        var arc = d3.svg.arc()
            .innerRadius(0)
            .outerRadius(78)
            .startAngle(actualAngle * (pi/180)) //converting from degs to radians
            .endAngle(0 * (pi/180)) //just radians

            vis.attr("d", arc)
            .attr("transform", "translate("+cx+","+cy+")");
    }

    // TODO
    // The nex step - include font Impact for digits (2011, 2012..) in pie.

    onMount(() => {
/*
        var cx = 294, cy = 104
        var vis = d3.select("#pie_arr")
        var pi = Math.PI;
            
        var arc = d3.svg.arc()
            .innerRadius(0)
            .outerRadius(78)
            .startAngle(-225 * (pi/180)) //converting from degs to radians
            .endAngle(0 * (pi/180)) //just radians

            vis.attr("d", arc)
            .attr("transform", "translate("+cx+","+cy+")");
            */

    });
</script>