/* Theme Styles Here */
.theme-basic {
  --color-text-primary: #fff; /* white */
  --color-text-secondary: #38b2ac; /* teal */
  --color-text-default: #3f3d56; /* dark grey */
  --color-text-default-soft: #CBD5E0; /* grey-400 */
  --color-text-link: #38b2ac; /* teal */
  --color-text-hover: #2C7A7B; /* dark teal */
  --color-text-inverse: #fff; /**/
  --color-bg-primary: #38b2ac; /* teal */
  --color-bg-secondary: #CBD5E0; /* grey-400 */
  --color-bg-default: #fff; /* white */
  --color-bg-inverse: #3f3d56; /* dark grey */
}

.theme-dark {
  --color-text-primary: #3f3d56; /* dark grey */
  --color-text-secondary: #38b2ac; /* teal */
  --color-text-default: #CBD5E0; /* white */
  --color-text-default-soft: #4A5568; /* grey-700 */
  --color-text-link: #38b2ac; /* teal */
  --color-text-hover: #2C7A7B; /* dark teal */
  --color-text-inverse: #fff; /**/
  --color-bg-primary: #38b2ac; /* teal */
  --color-bg-secondary: #718096; /* grey-760 */
  --color-bg-default: #3f3d56; /* dark grey */
  --color-bg-inverse: #fff; 
}

@tailwind base;

.container .main p {
  @apply mb-4 font-body;
}

.container .main h1 p,
.container .main h2 p {
  @apply mb-1 font-title;
}

code {
  @apply bg-black text-gray-400 py-4 px-2 my-2 block;
}

/*
@font-face {
  font-family: 'Cuprum';
  src: url(fonts/XaraWDEmbeddedHTMLfont1.eot) format("eot");
}
@font-face {
  font-family: 'Liberation';
  src: url(fonts/XaraWDEmbeddedHTMLfont3.eot) format("eot");
}
*/




@tailwind components;

/* Custom CSS Here - button example */



@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('fonts/Liberation Sans Narrow.eot'), url('fonts/Liberation Sans Narrow.ttf') format('truetype'), url('fonts/Liberation Sans Narrow.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}




.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-primary text-primary;
}

.btn-primary:hover {
  @apply bg-inverse;
}

.btn-secondary {
  @apply bg-secondary;
}
.btn-secondary:hover {
  @apply bg-inverse text-default-soft;
}

.link-primary {
	@apply text-link underline;
}

.link-primary:hover {
	@apply text-hover;
}


/* regular style for page content (about, etc. */
.container {
  height: 100%;
  width: 100%;
}


.container .main h1 p:nth-child(1) { 
  @apply font-title font-normal text-3xl mt-10 leading-none;
}

.container .main h1 p:nth-child(2) {
  @apply font-title font-bold text-sm text-gray-600;
}

.container .main h2 {
  @apply mt-0 mb-2 text-2xl leading-none;
}

.container .main h3 {
  @apply mt-5 mb-3 text-xl;
}

.container .main ol {
  @apply list-decimal pl-5 mt-3 mb-5;
}

.container .main ul {
  @apply list-square pl-5 mt-3 mb-5;
}

.container .main li {
  @apply pb-3;
}


.document {
  @apply w-full;
}


td, th {
    @apply px-4 py-2;
}

th {
    background-color: #e7e7e7;
    border-top: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    color: #666;

    @apply font-bold text-sm font-title pt-5;
}

th:first-child  {
  text-align: left;
}

table.docutils.colwidths-auto {
  width: auto;
}

table {
  @apply mb-12;
}
table tbody tr:hover {
    background-color: #dff5f5;
    @apply cursor-pointer;
}

table tbody tr {
    border-bottom: 1px solid #e1e1e1;
    @apply font-title font-bold leading-none;
}

table tbody tr:nth-child(even) {background: #f6f6f6}
table tbody tr:nth-child(odd) {background: #FFF}

table tbody tr td a {
    text-decoration: underline;
}


tr.even {
    background-color: #f6f6f6;
}

tr.odd {
    background-color: #fff;
}

td.circum {
    color: #b2b2b2;
}

td.circum.black p.base {
    color: #000;
}

.price-page td+td {
  text-align: right;
  white-space: nowrap;
}

.price-page td:first-child {
  width: 100%;
}

.price-page td[colspan="2"] strong  {
  background-color: #eea99f;
  padding: 2px 20px 2px 20px;
}

td.circum.black p.note {
    color: #808080;
}


td {
    @apply align-top;
}



td p.base {
    @apply mb-0;
    font-size: 20px;
}


td p.extra  {
    @apply mb-0;
    font-size: 16px;
}


td p.note {
    font-size: 14px;
    color: #b2b2b2;
    margin-top: 4px;
}


a.reference.external {
  @apply underline text-blue-600;
}

a.reference.internal {
  @apply underline block text-blue-600;
}

a.reference.internal.active {
  border: 6px solid #a0aec0;
  background-color: #eea99f;
  color: #333;
  @apply pt-1 pb-1 pl-5 pr-5 no-underline font-bold;
}

.topic-title  {
  @apply font-title text-2xl text-gray-600 font-normal mb-3;
}

.slide {
  @apply flex justify-start flex-col block mt-12;
}

@screen sm_menu {
  .container  {
    @apply pl-3 pr-3;
  }

  .main {
    @apply pt-2;
  }

  .price-page td+td {
      text-align: right;
      white-space: normal;
  }

  .container .main h1 p:nth-child(1) { 
    @apply mt-8;
  }
}

@screen max520 {
  .slide {
    @apply flex justify-start flex-col hidden;
  }
  .container .main h1 p:nth-child(1) { 
    @apply mt-16;
  }
}

@screen sm {
  .main {
    margin: 0;
    @apply w-full float-none mb-4 pl-2 pr-2;
  }

  .left {
    margin: 0;
    @apply w-1/2 float-left pr-4;
  }

  .right {
    margin: 0;
    @apply w-1/2 float-left pr-4;
  }
}

@screen md {
  .slide {
    @apply flex justify-start flex-col block mt-0;
  }
}


@screen lg {
  .main {
    width:700px;
    float:left;
    @apply mt-0 mr-4 mb-0 ml-16;
  }

  .left, .right, .column_head, .table-of-contents {
    float:right;
    width:370px;
    @apply mr-4;
  }
  
  .table-of-contents {
    @apply float-right w-1/3 mr-4;
    width: 370px;
  }

  .document .page-body {
    @apply float-left w-2/3;
  }

  .document .page-toc {
    @apply float-right w-1/3 pl-5;
  }
}


@tailwind utilities;



