<script context="module">
	import * as api from '../../utils/api.js';
	export async function preload({ params }) {
		const { slug } = params;
		let article = await api.get("jurexpert/decision/" + slug, null);

		// make anchor links like this <a href="prais-list#id1"> instead of <a href="#id1">
		// It's for IE compability
		let find_str = ' href="#';
		let re = new RegExp(find_str, 'g');
		let replace_str = ' href="/practice/' + slug + '#' // as result e.g.: ' href="prais-list#'
		article.article.html = article.article.html.replace(re, replace_str);
		return article
	}
</script>


<script>
	export let post;
	export let article;
	export let slug;

	import { stores } from '@sapper/app';
	import { onMount } from 'svelte'
	import * as animateScroll from "svelte-scrollto";
	import { addListener, removeListener } from 'resize-detector'

	const { preloading, page, session } = stores();

	onMount(()=>{

		// { Make pinned navigation and scrollspy
			if(window.innerWidth >= 1195)	{
				// init controller
				var controller = new ScrollMagic.Controller();

				function getHeight(selector) {
					let node = document.querySelector(selector);
					if(!node) return 0;
					return node.getBoundingClientRect().height;
				}
				
				var sceneBody = new ScrollMagic.Scene({
					triggerElement: ".page-body",
				    duration: getHeight(".page-body"), 
				    offset: window.innerHeight / 2 - 20
				})
			    .setPin('.contents.topic')
			    .addTo(controller)

			    var onMyEnter = function(node) {
					return function(e) {
						node.style.backgroundColor = (e.type == "enter") ? "#eee" : ""
					}
				}
				
				// toggle css class on TOC links while scrolling (scrolspy)
				var sections = document.querySelectorAll("div.page-body div.section")
				for (let sec of sections) {
					let id = sec.id
					// let href = location.pathname.substring(1) + "#" + id
					let href = "#" + id
					let link = document.querySelector('a[href$="'+href+'"]')
					new ScrollMagic.Scene({
						triggerElement: '#' + id,
					    duration: getHeight('#' + id), // the scene should last for a scroll distance of 100px
					    offset: window.innerHeight / 2 - window.innerHeight / 4 // start this scene after scrolling for 200px
					})
					.setClassToggle("#"+link.id, "active")
				    .addTo(controller)// assign the scene to the controller	
				    // .on("enter leave", onMyEnter(link))
				}
			}
		// }

		// { Make scrollto
			// make URL hash changing after scroll to an anchor
			let top_offset = (window.innerWidth > 767) ? -40 : -80; // -80 - for mobile devices as top menu overflow h2 headers
			animateScroll.setGlobalOptions({
			    offset: top_offset,
			    onDone: (element, offset) => {
			        if(element) {
				        if(window.history.pushState) {
				        	window.history.pushState('prais-list', 'Прайс-лист адвоката Смирновой Е.В.', location.pathname + '#' + element.id);	
				        }
			        }
			    }
			})

			// add onclick eventListener to all links from Table of Content
			const toc_links = document.querySelectorAll("div.page-toc a.reference.internal")
			let tocClickHandler = function(link)	{
				return function(e)	{
					e.preventDefault();

					let newPathname = link.getAttribute("href")
					let id = newPathname.split("#")[1]
					if (!id) return;

					animateScroll.scrollTo({element: "#"+id}) 
				}
			}
			for (let link of toc_links)	{
				link.addEventListener("click", tocClickHandler(link), false);
			}
		// }
		
		
		// on window resize
		// It's required to use something like this:
		// https://github.com/julienetie/resizilla
		// because using onresize native event handler brings some troubles, e.g.:
		// https://stackoverflow.com/questions/40437015/window-resize-executes-when-scrolling-on-mobile-devices

		// Here we use https://github.com/Justineo/resize-detector
		// to reduce padding-bottom of Table of Content div
		// when adapting for mobile devices (when div.document is resized)
		let oldWidth = window.innerWidth;
		let watchForResizedElement = document.querySelector(".body-content > .document");
		let pageToc = document.querySelector("div[data-scrollmagic-pin-spacer]");
		if(watchForResizedElement && pageToc)	{
			addListener(watchForResizedElement, function() {
				let newWidth = window.innerWidth;
				if(newWidth != oldWidth) {
					pageToc.style.paddingBottom = "2em";
				}
			})	
		}
	})
</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}

	.content :global(pre) {
		background-color: #f9f9f9;
		box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
		padding: 0.5em;
		border-radius: 2px;
		overflow-x: auto;
	}

	.content :global(pre) :global(code) {
		background-color: transparent;
		padding: 0;
	}

	.content :global(ul) {
		line-height: 1.5;
	}

	.content :global(li) {
		margin: 0 0 0.5em 0;
	}
</style>

<svelte:head>
	<title>Адвокат Смирнова Е.В. - {article.title}</title>
</svelte:head>

<div class="container sm_menu:mt-8">
	<div class="main w-auto">
		<h1 class="">
			<p>{article.title}</p>
		</h1>
		<div class="body-content mt-8 text-justify">
			{#if article.annotation}
				<div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-10" role="alert">
				  <p class="font-bold">Аннотация</p>
				  <p>{@html article.annotation}</p>
				</div>
			{/if}
			{@html article.html}
		</div>
	</div>
</div>

