<script context="module">
	import * as api from '../../utils/api.js';
	export async function preload({ params }) {
		const { slug } = params;
		const posts = await api.get(`jurexpert/decision/list`, null);
		return { posts };
	}
</script>


<script>
	import { onMount } from 'svelte';
	import { editMode } from '../../store.js';
	import AdminModal from '../../components/AdminModal.svelte';
	import * as sapper from '@sapper/app';
	import Slide from '../../components/Slide.svelte';
	import { stores } from '@sapper/app';
    const { preloading, page, session } = stores();

	import { base } from '../../store.js';

	export let posts;
	export let uri = ''
	export const contents = (posts['decisions'] == undefined) ? {} : posts['decisions'].map(post => {
		return {
			title: post.title,
			slug: post._key,
			annotation: post.annotation,
			date: post._date,
			case: post.case_number,
			topic: post.topic
		};
	});


	onMount(() => {
		/*
		This is required for FireFox & legacy browsers support, as
		there is no "event.path" property in FireFox.
		https://stackoverflow.com/questions/39245488/event-path-undefined-with-firefox-and-vue-js
		*/
		function composedPath (el) {
		    var path = [];
		    while (el) {
		        path.push(el);
		        if (el.tagName === 'HTML') {
		            path.push(document);
		            path.push(window);
		            return path;
		       	}
		       el = el.parentElement;
		    }
		}	
	})
	

	function get_content(event) {
		var path = event.path || (event.composedPath && event.composedPath()) || composedPath(event.target);
		for (let i in path) {
			let item = path[i]
			if (item.tagName == "TR"  && item.dataset.des_key != undefined) {
				sapper.goto($base.site + "/practice/" + item.dataset.des_key);
				break;
			}
		}
  	}

  	function preload_content(event)	{
		var path = event.path || (event.composedPath && event.composedPath()) || composedPath(event.target);
  		for (let i in path)	{
  			let item = path[i]
			if (item.tagName == "TR"  && item.dataset.des_key != undefined) {
				sapper.prefetch($base.site + "/practice/" + item.dataset.des_key);
				break;
			}
  		}
  	}
</script>


<svelte:head>
	<title>Практика адвоката Смирновой Е.В.</title>
</svelte:head>

<Slide path={$page.path} />


<div class="container">
	<div class="main">
		<h1 class="sm:m-0 sm:mb-5 sm:pl-2 sm:pr-2 sm:float-none lg:ml-16">
			<p>Практика адвоката</p>
			<p>Смирновой Евгении Васильевны</p>
		</h1>


        <table class="w-full">
            <thead>
                <tr class="border-b-2 border-t-2 border-gray-700">
                    <th class="w-2"></th>
                    <th class="w-12 whitespace-no-wrap text-right">Дата</th>
                    <th class="w-12 whitespace-no-wrap text-right">№ дела</th>
                    <th class="w-auto text-left">Тема / Аннотация</th>
                </tr>
            </thead>
            <tbody>
            	{#each contents as post}
	                <tr on:mouseenter|once={preload_content} on:click={get_content} data-des_key="{post.slug}">
	                    <td class=""></td>
	                    <td class="text-right whitespace-no-wrap text-right">
	                        <p class="base">{post.date}</p>
	                        <p class="note">дата</p>
	                    </td>
	                    <td class="text-right whitespace-no-wrap text-right">
	                        <p class="base">{post.case}</p>
	                        <p class="note">№ дела</p>
	                    </td>
	                    <td class="">
	                        <p class="base">{post.topic}</p>
	                        <p class="extra">{post.annotation.split(" ").slice(0,20).join(" ")}...</p>
	                        <p class="note">тема и аннотация</p>
	                    </td>
	                </tr>
	            {:else}
	            	<tr class="odd">
	                    <td class=""></td>
	                    <td class="text-right whitespace-no-wrap text-right">
	                        <p class="base"></p>
	                        <p class="note"></p>
	                    </td>
	                    <td class="text-right whitespace-no-wrap text-right">
	                        <p class="base"></p>
	                        <p class="note"></p>
	                    </td>
	                    <td class="">
	                        <p class="base">Нет записей</p>
	                        <p class="extra"></p>
	                        <p class="note"></p>
	                    </td>
	                </tr>
                {/each}
            </tbody>
            </table>

	</div>
</div>



<style>

.container {
    @apply w-full;
}

.main {
    @apply ml-0 pl-0 w-full mr-0 pr-0;
}


/*
h1 {
    margin: 50px 20px 50px 80px;
}
*/

td, th {
    @apply px-4 py-2;
}

th {
    background-color: #e7e7e7;
    border-top: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    color: #666;

    @apply font-bold text-sm font-title pt-8;
}

table tbody tr:hover {
    background-color: #dff5f5;
    @apply cursor-pointer;
}

table tbody tr {
    border-bottom: 1px solid #e1e1e1;
    @apply font-title font-bold leading-none;
}

table tbody tr td a {
    text-decoration: underline;
}


tr:nth-child(odd) {
	background-color: #fff;
}

tr:nth-child(even) {
	background-color: #f5f5f5;
}

td.circum {
    color: #b2b2b2;
}

td.circum.black p.base {
    color: #000;
}

td.circum.black p.note {
    color: #808080;
}


td {
    @apply align-top;
}



td p.base {
    @apply mb-2 leading-tight text-gray-800;
    font-size: 24px;
}


td p.extra  {
    @apply mb-1 leading-tight text-gray-800;
    font-size: 18px;
}


td p.note {
    font-size: 14px;
    color: #b2b2b2;
    margin-top: 4px;
}

@screen sm_menu {
    td:nth-child(1), th:nth-child(1), 
    td:nth-child(2), th:nth-child(2), 
    td:nth-child(3), th:nth-child(3) {
        @apply hidden;
    }
}

@screen lg-max {
    td:nth-child(1), th:nth-child(1), 
    td:nth-child(3), th:nth-child(3) {
        @apply hidden;
    }
}

</style>






                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        